.apptabs {
    border-bottom: 0px;
}

.tab-link {
    color: #00473e !important;
    border: 0 !important;
}

.tab-link.active {
    border: 0;
    background-color: #f2f7f5 !important;
    font-weight: bold !important;
    color: #faae2c !important;
    /* border-bottom: 2px solid #faae2c !important; */
}

.tab-link:hover {
    border: 0;
}

#nav-dropdown {
    /* background-color: #f2f7f5 !important; */
    color: #00473e;
    border: 0 !important;
}

.nav-item.show {
    background-color: #f2f7f5 !important;
}

.dropdown-menu {
    min-width: 800px;
    border: 0;
}

.dropdown-menu>.dropdown-item {
    display: inline-block !important;
}

.dropdown-menu>.show>a {
    display: inline-block;
    float: left;
}


.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    background-color: #f2f7f5 !important;
    font-weight: bold !important;
    color: #faae2c !important;
}